body {
	font: 15px;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

.main {
	width: 80%;
	overflow: hidden;
	margin: auto;
}

#welcome-section {
	color: black;
	text-align: center;
	text-decoration: none;
	margin-top: 90px;
	margin-bottom: 50px;
	padding-top: 0px;
	margin-top: 0px;
	display: block;
	height: 100vh;
}

#welcome-section h1 {
	padding-top: 80px;
	margin-top: 120px;
	font-size: 35px;
}

#projects {
	color: #000000;
	text-align: center;
	margin-bottom: 50px;
}

.project-box h2 {
	margin-top: 15px;
}

#skills {
	color: black;
	text-align: center;
	margin-bottom: 50px;
}

.skill-box{
    display: flex;
    justify-content: space-around;
}

img {
	width: 100%;
	max-width: 550px;
	height: auto;
	margin: auto;
	display: block;
}

button {
	background-color: white;
	border-color: #000000;
	color: #000000;
	padding: 12px;
	width: 120px;
	height: 40px;
	cursor: pointer;
	border-radius: 5px;
	margin: 20px 0px 0px 0px;
}

#contacts {
	color: black;
	text-align: center;
	margin-bottom: 50px;
}

p {
	text-align: center;
	font-size: 18px;
	margin-bottom: 50px;
}

a {
	text-transform: none;
	text-decoration: none;
	color: #000000;
	font-size: 18px;
	margin-right: 15px;
}

#contacts a img{
	widows: 50px;
	height: 50px;
}

footer p{
	font-size: 14px;
	margin-bottom: 15px;
}

@media (max-width: 768px){
	p {font-size: 20px;
	}
	#welcome-section {
		margin-top: 130px;
	}
	footer p{
		font-size: 14px;
	}
	.navigation {
		width: 100%;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: white;
		overflow: hidden;
		transition: all 0.4s ease-in-out;
		padding-top: 0px;
		text-decoration: none;
	}
	.navigation a {
		text-decoration: none;
	}
	.navigation ul {
		text-decoration: none;
		margin-top:30px;
		text-align:center;
		list-style:none; 
		margin-left:auto;
		margin-right:auto;
	}
	.menulist {
		width:200px;
		text-decoration: none;
	}
	.line1, .line2, .line3 {
		margin-top:5px;
		background-color:black;
		width:25px;
		height:3px;
		display:block;
		position:relative;
		opacity:1.0;
		border-radius:15%;
		transition: all .3s;
	  }
	  .line1.active {
		transform: rotate(270deg);
		opacity:0.0;
		background-color:black;
		top:5px;
	  }
	  
	  .line2.active {
		transform: rotate(45deg);
		background-color:black;
	  }
	  
	  .line3.active {
		transform: rotate(-45deg);
		background-color:black;
		top:-7px;
	  }
	  .menuitems {
		padding-top:12px;
		padding-bottom:22px;
		text-decoration: none;
		list-style:none; 
		font-family: "Lato", sans-serif;
		font-weight: 300;
		font-size: 24px;
		display: inline-block;
		position:relative;  
		text-align:center;
		color: black;
		opacity:0.0;
		transition: all .5s ease-in-out;
		text-decoration: none;
	}
	#closebtn {
		height:25px;
		width:25px; 
		position: absolute;
		top: 10px;
		right: -20px;
		text-decoration:none;
		font-size: 36px !important;
		margin-right: 50px;
		z-index:100;
		color:#fff;
		cursor:pointer;
		transition:background-position .3s;
	}
	#main { 
		transition: margin-top .4s;
		text-align:center;
		margin:auto;
		padding: 16px;
		font-size:30px;
		text-decoration: none;
	}
}

