/****** Body ******/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Muli", sans-serif;
}

.container {
	width: 80%;
	overflow: hidden;
	margin: auto;
}

/****** Header ******/
.navbar {
	font-size: 18px;
	background-color: white;
	padding-bottom: 10px;
	position: fixed;
	width: 100%;
}

.main-nav {
	list-style-type: none;
	display: none;
}

.nav-links,
.logo {
	text-decoration: none;
	color: black;
}

.main-nav li {
	text-align: center;
	margin: 18px 0 10px 20px;
}

.logo {
	display: inline-block;
	font-size: 22px;
	margin-top: 10px;
	margin-left: 20px;
}

.logo-position {
	text-align: center;
}

.navbar-toggle {
	position: absolute;
	top: 8px;
	right: 20px;
	cursor: pointer;
	font-size: 19px;
}

.active {
	display: block;
}

.bar1,
.bar2,
.bar3 {
	width: 25px;
	height: 2px;
	background-color: black;
	margin: 6px 0;
}

/****** NavBar for mobile ******/
.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 255);
	overflow-y: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: black;
	display: block;
	transition: 0.3s;
}

.overlay .closeButton {
	position: absolute;
	top: 5px;
	right: 12px;
	font-size: 60px;
}

.bars {
	position: absolute;
	top: 18px;
	right: 18px;
}

.nav-links:hover,
.overlay a:hover {
	color: gray;
	transition: 0.2s;
}
/****** Welcome ******/
#welcome-section {
	color: black;
	text-align: center;
	text-decoration: none;
}

#welcome-section h1 {
	margin-top: 80px;
	font-size: 35px;
}

#welcome-section p {
	margin-top: 30px;
}

.welcome-link {
	text-decoration: underline;
	font-weight: bold;
	color: black;
}

.welcome-link:hover {
	color: gray;
}

#about {
	padding-top: 80px;
}

.about-header {
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 15px;
}

.about-button {
	margin: auto;
	display: block;
}

.button-link {
	text-decoration: none;
}

/****** Works ******/
.projects {
	color: #000000;
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.project-box h3 {
	margin-top: 15px;
	margin-bottom: 15px;
}

#project-header {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 15px;
	font-size: 1.5em;
}

.project-box {
	box-shadow: 0px 0px 0.5px 0.5px #888888;
	border-radius: 5px;
	margin-bottom: 50px;
	padding: 10px;
	flex-basis: none;
}

#skills {
	color: black;
	text-align: center;
	margin-bottom: 50px;
	padding-top: 80px;
}

.skill-box {
	display: grid;
	grid-template-columns: 50% 50%;
}

.project-text {
	font-size: 1em;
	padding: 10px;
}

img {
	width: 100%;
	max-width: 400px;
	height: auto;
	margin: auto;
	display: block;
}

button {
	background-color: white;
	border: 1px solid #000000;
	color: #000000;
	padding: 12px;
	width: 120px;
	height: 40px;
	cursor: pointer;
	border-radius: 5px;
	margin: 20px 0px 0px 0px;
}

button:hover {
	background-color: black;
	color: white;
	transition: 0.5s ease-out;
}

/****** Contact ******/
#contact {
	color: black;
	text-align: center;
	margin-bottom: 50px;
	padding-top: 80px;
}

p {
	text-align: center;
	font-size: 18px;
	margin-bottom: 50px;
}

.socialmedia-icons {
	text-transform: none;
	text-decoration: none;
	color: black;
	font-size: 18px;
	margin-right: 15px;
}

.socialmedia-icons:hover {
	color: gray;
	transition: 0.2s;
}

#contacts a img {
	width: 50px;
	height: 50px;
}

#skills h1 {
	margin-bottom: 15px;
}

#contact h1 {
	margin-bottom: 15px;
}

.first-name,
.email {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid gray;
}

.message {
	font-family: "Muli", sans-serif;
	border-radius: 5px;
	margin-top: 15px;
	width: 100%;
	height: 100px;
	padding: 10px;
	font-size: 16px;
	resize: none;
	border: 1px solid gray;
}

.input-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/****** Footer ******/
.social-media {
	text-align: center;
}

.footer-text {
	font-size: 14px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/****** Mobile responsive ******/
@media screen and (min-width: 768px) {
	p {
		font-size: 20px;
	}
	#welcome-section h1 {
		margin-top: 100px;
	}
	.project-title {
		padding-top: 100px;
		padding-bottom: 15px;
	}

	footer p {
		font-size: 14px;
	}

	.skill-box {
		display: flex;
		justify-content: space-around;
	}

	.navbar {
		display: flex;
		justify-content: space-between;
		padding-bottom: 0;
		height: 70px;
		align-items: center;
	}

	.main-nav {
		display: flex;
		margin-right: 30px;
		flex-direction: row;
		justify-content: flex-end;
	}

	.main-nav li {
		margin: 0;
	}

	.nav-links {
		margin-left: 40px;
	}

	.logo {
		margin-top: 0;
		margin-left: 20px;
	}
	.navbar-toggle {
		display: none;
	}

	.input-box {
		display: flex;
		flex-direction: row;
	}

	.project-box {
		flex-basis: 40%;
	}

	.contact-form {
		width: 60%;
		margin: auto;
	}

	.first-name,
	.email {
		width: 48%;
	}
}

/* Break elements if screen-size is less than 450 pixel */
@media screen and (max-height: 450px) {
	.overlay {
		overflow-y: auto;
	}
	.overlay a {
		font-size: 20px;
	}
	.overlay .closeButton {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}
